PROJECT_DISPLAY_NAME = "MyProject"
TARGETS_JSON="[{"project_env":"dev","url":"http://127.0.0.1:8000/-/health/","cron":"* * * * *"}]"
ALERT_PROVIDER="mailtrap"
ALERT_FROM="alerts@example.com"
ALERT_TO_ADDRESSES=["recipient@email.com"]
ALERT_API_KEY="..."
